*{
    margin: 0;
    padding: 0;
}

.teks01{
    text-align: center;
    font-size: 50px;
    font-family: -apple-system, sans-serif;
    letter-spacing: 2px;
    opacity: 80%;
}

.teks02{
    text-align: center;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    color: #1d1a1a;
}

.teks03{
    font-size: 17px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 40%;
    color: #141313;
}

.nama-jurusan{
    color: black;
    opacity: 60%;
    text-align: center;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    
}

.nama-orang{
    text-align: center;
    font-family: 'Franklin Gothic Medium',  sans-serif;
    font-size: x-large;
    text-decoration: none;
    opacity: 65%;
}

.nama-jabatan{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    opacity: 70%;
}

.judul-berita{
    font-size: 20px;
    font-family: fantasy;
    opacity: 60%;
}

.lambang{
    width: 110px;
    height: 110px;
}

a{
    text-decoration: none;
}

a:hover{
    opacity: 60%;
}

.teksGbr{
    position: relative;
    z-index: 2;
    
}

.teksGbr p{
    position: relative;
    top: 40px;
    z-index: 4;
    color: #fff;
    text-indent: 40px;
    font-size: 12px;
}

.teksGbr p{
    position: absolute;
}

.btn{
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #1b64e2;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    /* text-align: center; */
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    /* width: 100px; */
}

.btn:hover{
    background-color: #0f5ce2;
}

nav{
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    width: 96.8;
    top: 0%;
    width: 100%;
}

nav ul{
    background: white;
    display: inline-table;
    padding: 0 24px;
    position: fixed;
    list-style: none;
    width: 96.8%;

}

nav ul li{
    float: right;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 25px;
    /* width: 96.8%; */
    width: 100%;
    font-size: 90%;
    font-weight: bold;
    opacity: 70%;
}

nav ul li a:hover{
    color: #d92121;
}

nav ul img{
    float: left; 
    top:5%;
    width:17%;
}

nav ul img:hover{
    opacity: 70%;
}

.berita{
    border-collapse: collapse;
    /* border : 1px solid #d92121; */
    width: 70%;
}

.berita  tr th{
    padding: 8px 20px;
    text-align: center;
}